<a href="https://colab.research.google.com/github/yub3r/CoderDataScience/blob/main/Crime_Data_2020_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pautas para elegir un Dataset para fundamento de ciencia de datos:
1. Cantidad de columnas: Más de 15 columnas.
Es recomendable elegir un dataset con un número considerable de variables
(columnas) para contar con una variedad de características sobre las que se pueda
realizar un análisis más completo.


2. Cantidad de filas o registros: Aproximadamente 1000 (si es más, mejor).
Un dataset con al menos 1000 registros ofrece una base suficiente para realizar
análisis significativos y aplicar técnicas estadísticas básicas sin que el procesamiento sea demasiado pesado para quienes están comenzando.

Fuente Orginal
https://catalog.data.gov/dataset/crime-data-from-2020-to-present

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Importamos el csv desde github
#csv_url = "https://github.com/yub3r/CoderDataScience/blob/main/Entrega01/Crime_Data_from_2020-5K.csv"
csv_url = "https://raw.githubusercontent.com/yub3r/CoderDataScience/refs/heads/main/Crime_Data_from_2020_10K2.csv"

df_csv = pd.read_csv(csv_url, nrows=20)

In [ ]:
# Aquí se usa el argumento 'on_bad_lines' para saltar las líneas con errores.
#df_csv = pd.read_csv(csv_url, on_bad_lines='skip')

print("\nDataframe cargado desde CSV y Github/raw:")
print(df_csv.shape)
print(df_csv)

Dataframe cargado desde CSV y Github/raw:
(20, 28)
        DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0   211507896  04/11/2021 12:00:00 AM  11/07/2020 12:00:00 AM       845    15
1   201516622  10/21/2020 12:00:00 AM  10/18/2020 12:00:00 AM      1845    15
2   240913563  12/10/2024 12:00:00 AM  10/30/2020 12:00:00 AM      1240     9
3   210704711  12/24/2020 12:00:00 AM  12/24/2020 12:00:00 AM      1310     7
4   201418201  10/03/2020 12:00:00 AM  09/29/2020 12:00:00 AM      1830    14
5   240412063  12/11/2024 12:00:00 AM  11/11/2020 12:00:00 AM      1210     4
6   240317069  12/16/2024 12:00:00 AM  04/16/2020 12:00:00 AM      1350     3
7   201115217  10/29/2020 12:00:00 AM  07/07/2020 12:00:00 AM      1400    11
8   241708596  04/20/2024 12:00:00 AM  03/02/2020 12:00:00 AM      1200    17
9   242113813  12/18/2024 12:00:00 AM  09/01/2020 12:00:00 AM       900    21
10  240605846  02/06/2024 12:00:00 AM  06/20/2020 12:00:00 AM         1     6
11  242014110  12/18/2024 12:00:00 AM  11/17/2020 12:00:00 AM      1320    20
12  202113531  09/06/2020 12:00:00 AM  09/05/2020 12:00:00 AM      1500    21
13  201710725  07/03/2020 12:00:00 AM  07/02/2020 12:00:00 AM       500    17
14  201406733  02/16/2020 12:00:00 AM  02/13/2020 12:00:00 AM      2300    14
15  201405970  02/01/2020 12:00:00 AM  02/01/2020 12:00:00 AM      1658    14
16  201820230  11/08/2020 12:00:00 AM  11/08/2020 12:00:00 AM       730    18
17  201707577  03/20/2020 12:00:00 AM  03/20/2020 12:00:00 AM      1320    17
18  201514848  09/04/2020 12:00:00 AM  08/17/2020 12:00:00 AM       400    15
19  201405023  01/19/2020 12:00:00 AM  01/19/2020 12:00:00 AM      1850    14

      AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0   N Hollywood         1502         2     354
1   N Hollywood         1521         1     230
2      Van Nuys          933         2     354
3      Wilshire          782         1     331
4       Pacific         1454         1     420
5    Hollenbeck          429         2     354
6     Southwest          396         2     354
7     Northeast         1133         2     812
8    Devonshire         1729         2     354
9       Topanga         2196         2     354
10    Hollywood          657         2     812
11      Olympic         2023         2     354
12      Topanga         2149         1     510
13   Devonshire         1762         1     310
14      Pacific         1406         1     330
15      Pacific         1494         1     440
16    Southeast         1844         2     626
17   Devonshire         1752         2     624
18  N Hollywood         1549         1     310
19      Pacific         1435         1     310

                                          Crm Cd Desc  ... Status  \
0                                   THEFT OF IDENTITY  ...     IC
1      ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT  ...     IC
2                                   THEFT OF IDENTITY  ...     IC
3   THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...  ...     IC
4     THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)  ...     IC
5                                   THEFT OF IDENTITY  ...     IC
6                                   THEFT OF IDENTITY  ...     IC
7   CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 ...  ...     AO
8                                   THEFT OF IDENTITY  ...     IC
9                                   THEFT OF IDENTITY  ...     IC
10  CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 ...  ...     AA
11                                  THEFT OF IDENTITY  ...     IC
12                                   VEHICLE - STOLEN  ...     AA
13                                           BURGLARY  ...     IC
14                              BURGLARY FROM VEHICLE  ...     IC
15                 THEFT PLAIN - PETTY ($950 & UNDER)  ...     AO
16                  INTIMATE PARTNER - SIMPLE ASSAULT  ...     IC
17                           BATTERY - SIMPLE ASSAULT  ...     IC
18                                           BURGLARY  ...     AA
19                                           BURGLARY  ...     IC

     Status Desc Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
0    Invest Cont      354      NaN       NaN      NaN
1    Invest Cont      230      NaN       NaN      NaN
2    Invest Cont      354      NaN       NaN      NaN
3    Invest Cont      331      NaN       NaN      NaN
4    Invest Cont      420      NaN       NaN      NaN
5    Invest Cont      354      NaN       NaN      NaN
6    Invest Cont      354      NaN       NaN      NaN
7    Adult Other      812    860.0       NaN      NaN
8    Invest Cont      354      NaN       NaN      NaN
9    Invest Cont      354      NaN       NaN      NaN
10  Adult Arrest      812    860.0       NaN      NaN
11   Invest Cont      354      NaN       NaN      NaN
12  Adult Arrest      510      NaN       NaN      NaN
13   Invest Cont      310      NaN       NaN      NaN
14   Invest Cont      330      NaN       NaN      NaN
15   Adult Other      440      NaN       NaN      NaN
16   Invest Cont      626      NaN       NaN      NaN
17   Invest Cont      624      NaN       NaN      NaN
18  Adult Arrest      310      NaN       NaN      NaN
19   Invest Cont      310      NaN       NaN      NaN

                                    LOCATION                     Cross Street  \
0    7800    BEEMAN                       AV                              NaN
1            ATOLL                        AV                         N  GAULT
2   14600    SYLVAN                       ST                              NaN
3    6000    COMEY                        AV                              NaN
4                    4700    LA VILLA MARINA                              NaN
5    5300    CRONUS                       ST                              NaN
6     900 W  40TH                         PL                              NaN
7    3000    ACRESITE                     ST                              NaN
8   17700    SIMONDS                      ST                              NaN
9   20900    MARMORA                      ST                              NaN
10   1000 N  RIDGEWOOD                    PL                              NaN
11    400 S  ARDMORE                      AV                              NaN
12  19700    VANOWEN                      ST                              NaN
13   9500    COZYCROFT                    AV                              NaN
14   3300    MOTOR                        AV                              NaN
15    300    WORLD                        WY                              NaN
16           108TH                        ST  AVALON                       AV
17  20900    DEVONSHIRE                   ST                              NaN
18  11100    CUMPSTON                     ST                              NaN
19   3500    PURDUE                       AV                              NaN

        LAT       LON
0   34.2124 -118.4092
1   34.1993 -118.4203
2   34.1847 -118.4509
3   34.0339 -118.3747
4   33.9813 -118.4350
5   34.0830 -118.1678
6   34.0100 -118.2900
7   34.1107 -118.2589
8   34.2763 -118.5210
9   34.1493 -118.5886
10  34.0878 -118.3146
11  34.0672 -118.3016
12  34.1938 -118.5631
13  34.2427 -118.5820
14  34.0240 -118.4090
15  33.9440 -118.4073
16  33.9383 -118.2652
17  34.2572 -118.5885
18  34.1700 -118.3722
19  34.0158 -118.4258

[20 rows x 28 columns]